*{
     box-sizing: border-box; 
}
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center; 
    background-color: #dedad9;
}

/* header */

header { 
    margin-top: 1em;
    background-color: white;
    height: 150px;
    
    
}
nav {
right: 100px;
float: right;
margin-right: 0;
position: sticky;
background-color: white;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none; 
   
}
nav li {
    display: inline-block;
    margin: 1em; 
    
}
nav a {
    font-weight: 900;
    text-decoration: none;
    font-size: 1rem; 
    padding: .5em;

}
h1 {
margin-left: -1300px;
font-family: 'Raleway', sans-serif;
height: 15px;
}
.bio {
    width: 900px;
    height: 700px;
    background-color: white;
    margin-top: 70px;
    margin-left: 20%;
}
